<!DOCTYPE html>
<html>
<head>
	<title>Login Here</title>
  
	<style>
body {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwcHBwcHBwcHBwcHBw0HBwcHBw8ICQcNIBEWIhURHxMYHSggGCYlGxMfITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDw0NDysZFRk3LSsrKy0rKysrLSsrLSsrKysrLSstKy0tLSstKy0tNystKy0rLSstNzctLSsrKy0rLf/AABEIAOAA4QMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQb/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEF/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A3aKNVmIKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiooAAAAAAAAACgAgAAAKAIgoAAAAAAigAAiooAAAAAAAAACgAgigoAAAIAAAAAAAAAAIqKAAAAAAAAAIqgCIKIqgCAoCAAAAAAAAAACKigAAAAAAAAAAAAAAAAAAAAAAAACKAACKigAAAAAAAAAKACAAoiggAgKAAioCgAiooAAIqKAAAAAAAAAIoAAAAAigAgKigCACgAioAoIAqKAAAAAAAAAgqgigAigIoCCiAAAAAACKAAAIoCgAgAAAAACCgCKAigoIoCCogqKAgAKACKigIqAKiigAgAAAAAAAAAAAAAoAIAAAAAAAAAAIqKK/9k=); */
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} 


</style>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>

<body style="background-color: rgba(209, 188, 188, 0.49);;">
  <h1 style="margin-left:700px; font-weight: bold; color: rgb(219, 96, 8);">LOGIN</h1>
  <center style="margin-left:200px;">
<div class="container" >
  
    <h2>{{msg}}</h2>
<form class="form-horizontal" form name="form_login" action="/login" method="POST">

<div class="form-group">
	<label for="input_registration_email" class="control-label col-sm-2" for="pwd">Email:</label>
	<div class="col-sm-6">
        <input type="text" name="email" class="form-control" id="input_registration_email" maxlength="50" placeholder="your email">
    </div>
</div>

<div class="form-group">
  <label for="input_registration_newpassword" class="control-label col-sm-2" for="pwd">Password:</label>
  <div class="col-sm-6">
    <input type="password" name="newpassword" class="form-control" id="input_registration_newpassword" maxlength="30" >
    </div>
</div>


<div class="form-group">
  		<div class="col-sm-offset-2 col-sm-10">
  		<button type="login" class="btn btn-default  btn btn-primary btn-lg btn btn-danger">Login</button>
		</div></center>
</div>
</form>

</div>
<br>

 <center>
<img style=width:600px src=https://pbs.twimg.com/media/EzglxPaUUAQE6qa.jpg:large
</center>
</body>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "12784be6-fd27-4306-a2d7-d7b6aa3264c0", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "b54f7c89-6159-433e-88f4-5ce055c3fbb7", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</html>  